.skills {
    padding: 50px;
    margin-left: 30px;
    position: relative;
    color: #fff;
}

.skills::before {
    position: absolute;
    content: '';
    width: 70%;
    height: 60%;
    top: 29%;
    left: 15%;
    border-radius: 20px;
    background: linear-gradient(45deg, rgb(113, 113, 174), blue, black);
    z-index: -1;
    background-size: 200% auto;

}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.desc {
    color: rgb(210, 209, 209);
    margin: auto;
    text-align: center;
    max-width: 500px;

}

.list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-between;
    grid-auto-flow: 10px;
}

.item {
    backdrop-filter: blur(60px);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
}

.item>span {
    font-size: 30px;
}

.item>h3 {
    margin-bottom: 10px;
}

@media (max-width:768px) {

    .title {

        font-size: 30px;

    }

    .desc {
        font-size: 18px;

    }
}